<form action="/celebrities" method="post">

    <div class="input-section">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required>

    </div>
    <div class="input-section">
        <label for="occupation">Occupation:</label>
        <input type="text" name="occupation" id="occupation">

    </div>
    <div class="input-section">
        <label for="catchPhrase">Catch Phrase:</label>
        <input type="text" name="catchPhrase" id="catch-phrase" required>

    </div>

    <button>Create Celebrity</button>
</form>