<form action="/movies" method="post">

    <div class="input-section">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" required>

    </div>
    <div class="input-section">
        <label for="genre">Genre:</label>
        <input type="text" name="genre" id="genre">

    </div>
    <div class="plot">
        <label for="plot">Plot:</label>
        <input type="text" name="plot" id="plot" required>

    </div>

    <button>Create Movie</button>
</form>